# Fleury Data

In [2]:
import pandas as pd
import os

In [3]:
os.listdir()

['Grupo_Fleury_Small_Dataset_Covid19_Pacientes.csv',
 '.ipynb_checkpoints',
 'Grupo_Fleury_Small_Dataset_Covid19_Resultados_Exames_1.csv',
 'Untitled.ipynb',
 'Grupo_Fleury_Dataset_Covid19_Dicionаrio de Dados.xlsx']

## Reading files

In [4]:
exames = pd.read_csv('Grupo_Fleury_Small_Dataset_Covid19_Resultados_Exames_1.csv', sep='|', encoding = "ISO-8859-1"
)

In [5]:
pacientes = pd.read_csv('Grupo_Fleury_Small_Dataset_Covid19_Pacientes.csv', sep='|', encoding = "ISO-8859-1" )

## Quick Analysis Exames

In [6]:
exames.head()

,ID_PACIENTE,DT_COLETA,DE_ORIGEM,DE_EXAME,DE_ANALITO,DE_RESULTADO,CD_UNIDADE,DE_VALOR_REFERENCIA
0,5B50C7FC316FAFEBF582DB9245E35DB5,02/11/2019,LAB,"HEMOGRAMA, sangue total",Hemoglobina,"11,9",g/dL,"12,0 a 15,5"
1,5B50C7FC316FAFEBF582DB9245E35DB5,02/11/2019,LAB,"HEMOGRAMA, sangue total",VCM,"81,5",fL,"82,0 a 98,0"
2,5B50C7FC316FAFEBF582DB9245E35DB5,02/11/2019,LAB,"HEMOGRAMA, sangue total",Leucócitos,5970,/mm3,3.500 a 10.500
3,5B50C7FC316FAFEBF582DB9245E35DB5,02/11/2019,LAB,"HEMOGRAMA, sangue total",Neutrófilos,2360,/mm3,1.700 a 7.000
4,5B50C7FC316FAFEBF582DB9245E35DB5,02/11/2019,LAB,"HEMOGRAMA, sangue total",Eosinófilos,550,/mm3,50 a 500

In [38]:
exames.dtypes

ID_PACIENTE            object
DT_COLETA              object
DE_ORIGEM              object
DE_EXAME               object
DE_ANALITO             object
DE_RESULTADO           object
CD_UNIDADE             object
DE_VALOR_REFERENCIA    object
dtype: object

In [7]:
exames.describe()

,ID_PACIENTE,DT_COLETA,DE_ORIGEM,DE_EXAME,DE_ANALITO,DE_RESULTADO,CD_UNIDADE,DE_VALOR_REFERENCIA
count,2051,2051,2051,2051,2051,2051,1467,1452
unique,100,73,1,135,205,841,32,160
top,45DCA7A7639394D32453D6D615AF9156,08/02/2020,LAB,"HEMOGRAMA, sangue total","Covid 19, Detecção por PCR",NÃO DETECTADO,%,Não detectado
freq,155,110,2051,814,107,87,278,107

## Quick Analysis Pacientes

In [8]:
pacientes.head()

,ID_PACIENTE,IC_SEXO,AA_NASCIMENTO,CD_PAIS,CD_UF,CD_MUNICIPIO,CD_DISTRITO
0,5B50C7FC316FAFEBF582DB9245E35DB5,F,1982,Brasil,SP,GUARULHOS,Jardim Barbosa
1,027B6329D6AC1CD1B5DED1DCF87AD204,F,1982,Brasil,SP,SAO PAULO,Vila Leopoldina
2,ED9B795482AAF5BC59BD819076E922EC,F,1982,Brasil,SP,SAO PAULO,Vila Nhocune
3,A9B12C356B595C43ADC11FC38477C8B1,M,1982,Brasil,SP,SAO PAULO,Pinheiros
4,4AE0B3CE202C44CAE4782752C6ABDA17,F,1982,Brasil,SP,MAUA,Vila Dirce

In [40]:
pacientes.dtypes

ID_PACIENTE      object
IC_SEXO          object
AA_NASCIMENTO     int64
CD_PAIS          object
CD_UF            object
CD_MUNICIPIO     object
CD_DISTRITO      object
dtype: object

In [9]:
pacientes.describe()

       AA_NASCIMENTO
count          100.0
mean          1982.0
std              0.0
min           1982.0
25%           1982.0
50%           1982.0
75%           1982.0
max           1982.0

## Merging files

In [10]:
merged = pacientes.merge(exames, on=['ID_PACIENTE'])

In [11]:
merged

,ID_PACIENTE,IC_SEXO,AA_NASCIMENTO,CD_PAIS,CD_UF,CD_MUNICIPIO,CD_DISTRITO,DT_COLETA,DE_ORIGEM,DE_EXAME,DE_ANALITO,DE_RESULTADO,CD_UNIDADE,DE_VALOR_REFERENCIA
0,5B50C7FC316FAFEBF582DB9245E35DB5,F,1982,Brasil,SP,GUARULHOS,Jardim Barbosa,02/11/2019,LAB,"HEMOGRAMA, sangue total",Hemoglobina,"11,9",g/dL,"12,0 a 15,5"
1,5B50C7FC316FAFEBF582DB9245E35DB5,F,1982,Brasil,SP,GUARULHOS,Jardim Barbosa,02/11/2019,LAB,"HEMOGRAMA, sangue total",VCM,"81,5",fL,"82,0 a 98,0"
2,5B50C7FC316FAFEBF582DB9245E35DB5,F,1982,Brasil,SP,GUARULHOS,Jardim Barbosa,02/11/2019,LAB,"HEMOGRAMA, sangue total",Leucócitos,5970,/mm3,3.500 a 10.500
3,5B50C7FC316FAFEBF582DB9245E35DB5,F,1982,Brasil,SP,GUARULHOS,Jardim Barbosa,02/11/2019,LAB,"HEMOGRAMA, sangue total",Neutrófilos,2360,/mm3,1.700 a 7.000
4,5B50C7FC316FAFEBF582DB9245E35DB5,F,1982,Brasil,SP,GUARULHOS,Jardim Barbosa,02/11/2019,LAB,"HEMOGRAMA, sangue total",Eosinófilos,550,/mm3,50 a 500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2046,DE185E011AE5D3A99B3E9DFCC7314840,M,1982,Brasil,SP,SANTO ANDRE,Silveira,02/03/2020,LAB,TRANSAMINASE GLUTAMICO-OXALACETICA (TGO),AST (TGO),20,U/L,Até 40
2047,DE185E011AE5D3A99B3E9DFCC7314840,M,1982,Brasil,SP,SANTO ANDRE,Silveira,24/04/2020,LAB,"NOVO CORONAVÍRUS 2019 (SARS-CoV-2), DETECÇÃO P...","Covid 19, Detecção por PCR",DETECTADO,NaN,Não detectado
2048,DE185E011AE5D3A99B3E9DFCC7314840,M,1982,Brasil,SP,SANTO ANDRE,Silveira,24/04/2020,LAB,"NOVO CORONAVÍRUS 2019 (SARS-CoV-2), DETECÇÃO P...","Covid 19, Material",raspado de nasofaringe,NaN,NaN
2049,70EC2CFEEEFC4001008937EE46F23F45,F,1982,Brasil,SP,SAO PAULO,Pinheiros,24/04/2020,LAB,"NOVO CORONAVÍRUS 2019 (SARS-CoV-2), DETECÇÃO P...","Covid 19, Detecção por PCR",NÃO DETECTADO,NaN,Não detectado
2050,70EC2CFEEEFC4001008937EE46F23F45,F,1982,Brasil,SP,SAO PAULO,Pinheiros,24/04/2020,LAB,"NOVO CORONAVÍRUS 2019 (SARS-CoV-2), DETECÇÃO P...","Covid 19, Material",raspado de nasofaringe,NaN,NaN

In [14]:
merged['CD_UF'].value_counts()

SP    2051
Name: CD_UF, dtype: int64